.app.light {
  --bg-color: rgb(223, 223, 223);
  --bg-inverted-color: rgb(9, 21, 72);

  --primary-color: rgb(12, 4, 76);
  --secondary-color: rgb(19, 34, 196);

  --primary-inverted-color: rgb(150, 223, 245);
  --secondary-inverted-color: rgb(9, 184, 237);
}
